<h1>Kittens</h1>
<ul>
  <% @kittens.each do |kitten| %>
    <li>
    <%= link_to kitten.name, kitten_path(kitten) %> |
    <%= link_to "Delete #{kitten.name}", kitten_path(kitten), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "New Kitten", new_kitten_path %>